[Unit]
Description={{ background_command }}
After=network.target

[Service]
Type=simple
User={{ appserver_user }}
Group={{ appserver_user }}
WorkingDirectory={{ project_dir }}
ExecStart={{ root_dir }}/venv/bin/python {{ project_dir }}/manage.py {{ background_command }}
Restart=always

[Install]
WantedBy=multi-user.target
